<!doctype html>
<html lang="en">

<head>
    <% include partials/templates/head.ejs %>
</head>

<body>

    <div class="row" id="title"><h1>NAVBAR GOES HERE!</h1></div>
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/media/<%= picturesPath %>/<%= picturesPath %>.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex text-center h-100">
                <div class="my-auto w-100 text-white">
                    <h1 style="font-size: 10vw;"> <%= band %> </h1>
                </div>
            </div>
        </div>
    </header>

    <!-- <img src="/media/<%= picturesPath %>/<%= picturesPath %>.jpg" style="width: 100%">
    <h1 class="centered" style="font-size: 15vw;">
        <%= band %>
    </h1> -->

    <div class="row justify-content-md-center" id="title">
        <h2>Members</h2>
    </div>

    <div class="row" id="members">
        <% for (i = 0; i < members.length; i ++) { %>
        <div class="col justify-content-center">
            <h3>
                <%= members[i] %>
            </h3>
            <img src="/media/<%= picturesPath %>/<%= pictures[i] %>.jpg" class="center-block">
            <!-- <h3 class="centered"><%= members[i] %></h3> -->
        </div>
        <% } %>
    </div>

    <div class="row" id="title">
        <h2>Albums</h2>
    </div>

    <div class="row align-items-center" id="albums">
        <% for (i = 0; i < albums.length; i ++) { %>
        <div class="row">
            <h3>
                <%= albums[i] %>
            </h3>
        </div>
        <% } %>
    </div>

    <div class="row" id="title">
        <h2>Locations</h2>
    </div>

    <div class="row align-items-center" id="locations">
        <% for (i = 0; i < locations.length; i ++) { %>
        <div class="row">
            <h3>
                <%= locations[i] %>
            </h3>
        </div>
        <% } %>
    </div>

    <% include partials/templates/jsdefaults.ejs %>
</body>

</html>