<!doctype html>
<html lang="en">

<head>
    <% include partials/templates/head.ejs %>
</head>

<body>

    <% include partials/templates/navbar.ejs %>

    <header class="d-flex">
        <div class="mediaOverlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/media/<%= picturesPath %>/<%= picturesPath %>.mp4" type="video/mp4">
        </video>
        <h1 class="centered"><%= band %></h1>
    </header>
    <!-- End of Video Header -->

    <!-- <div class="row" style="height: 200px;"></div> -->

    <div class="row m-0 p-0 justify-content-center">
        <header class="d-flex" style="height: 300px;">
            <div class="mediaOverlay"></div>
            <img src="/media/<%= picturesPath %>/<%= picturesPath %>.jpg">
            <h2>Members</h2>
        </header>
    </div>

    <div class="row m-0 p-0" id="members" style="width: 100%;">
        <% for (i = 0; i < members.length; i ++) { %>
        <div class="col m-0 p-0 justify-content-center">
            <header class="d-flex" style="height: 550px;">
                <div class="mediaOverlay"></div>
                <img src="/media/<%= picturesPath %>/<%= pictures[i] %>.jpg">
                <h3 class="centered"><%= members[i] %></h3>
            </header>
        </div>
        <% } %>
    </div>
    <!-- End of Members -->

    <div class="row m-0 p-0" id="title">
        <h2>Albums</h2>
    </div>

    <div class="row align-items-center m-0 p-0" id="albums" style="height: 600px;">
        <% for (i = 0; i < albums.length; i ++) { %>
        <div class="row">
            <h3>
                <%= albums[i] %>
            </h3>
        </div>
        <% } %>
    </div>
    <!-- End of Albums -->

    <div class="row m-0 p-0" id="title">
        <h2>Locations</h2>
    </div>

    <div class="row align-items-center m-0 p-0" id="locations">
        <% for (i = 0; i < locations.length; i ++) { %>
        <div class="row">
            <h3>
                <%= locations[i] %>
            </h3>
        </div>
        <% } %>
    </div>
    <!-- End of Locations -->

</div>
<!-- Closing tag for navbar partial template -->

    <div class="overlay"></div>

    <% include partials/templates/jsdefaults.ejs %>
</body>

</html>