<!doctype html>
<html lang="en">

<head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>

<body>

    <img src="/images/<%= picturesPath %>/<%= picturesPath %>.jpg" style="width: 100%">
    <h1 class="centered" style="font-size: 15vw;"><%= band %></h1>

    <div class="row justify-content-md-center" id="title">
        <h2>Members</h2>
    </div>

    <div class="row" id="members">
        <% for (i = 0; i < members.length; i ++) { %>
            <div class="col justify-content-center">
                <h3><%= members[i] %></h3>
                <img src="/images/<%= picturesPath %>/<%= pictures[i] %>.jpg" class="center-block">
                <!-- <h3 class="centered"><%= members[i] %></h3> -->
            </div>
        <% } %>
    </div>

    <div class="row" id="title">
        <h2>Albums</h2>
    </div>

    <div class="row align-items-center" id="albums">
        <% for (i = 0; i < albums.length; i ++) { %>
            <div class="row">
                <h3><%= albums[i] %></h3>
            </div>
        <% } %>
    </div>

    <div class="row" id="title">
        <h2>Locations</h2>
    </div>

    <div class="row align-items-center" id="locations">
        <% for (i = 0; i < locations.length; i ++) { %>
            <div class="row">
                <h3><%= locations[i] %></h3>
            </div>
        <% } %>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>